[2020-11-28 09:34] fighterchimp opened #2 "Player Control"
The ability for players to edit the resources and/or add new ones would be cool, less overhead for the GM. Keeping track of everything in a system with lots of stuff like that gets pretty time-consuming.

[2020-12-01 08:53] davelens commented on #2
@fighterchimp Hi! Thank you for your comment and sorry for the tardy response. In all honesty, I missed the notification apparently.

* Having players edit the resources: This is something I'd like to get done. To my knowledge, there's two ways to go about this:
  1. A global toggle ("Can players edit this resource?") would be fairly easy to implement, but limits permissions to "all players" or "g

[2020-12-01 18:57] fighterchimp commented on #2
haha, i've missed plenty of notifications in my day too! it's no problem at all.

for the system i'm running, a simple global toggle for player control would be sufficient, players wouldn't need the ability to add their own. i know very little about javascript, but i could try looking into how to do that.

[2020-12-02 20:56] davelens commented on #2
@fighterchimp So I've done some work on this and I've hit a bump in the road. You can read up on it in PR #3

I'm fairly sure I'll figure something out, but I have no timeline currently. :-/

[2020-12-02 22:22] fighterchimp commented on #2
hmm, that's an interesting issue. i'm sure you'll figure something out too! thank you for looking into the option. i wish i could offer more help, but this seems like the kind of code that's totally beyond me, haha

[2020-12-06 04:10] Col45 opened #4 "Resizeable Popup"
Is it possible to have the popup be resizable so that resources can be viewed horizontally or vertically depending on the popup aspect ratio?

[2020-12-06 20:21] davelens commented on #4
@Col45 Probably, yeah. Setting the popup as resizable isn't an issue, but it will probably break how the individual resource blocks behave once resized. I think I have to restyle them to use flexbox instead of CSS grid to make them stack on top of each other when the dashboard is narrow. I'm not a CSS wizard, but I'll see what I can do.

[2020-12-10 16:35] davelens commented on #2
@fighterchimp #3 is now merged into the master branch. It's not the extended (or "proper") solution for this problem, but it's a solution nonetheless. It will be included in the 1.1 release, but you're free to pull from the master branch if you want to test it out locally.

There *might* be an issue with pre-existing data, but I'll have that confirmed between now and the next release.

[2020-12-10 16:35] #2 closed

[2020-12-10 21:22] davelens commented on #4
@Col45 Resizable dashboard windows will be added in the upcoming 1.1 release. Thank you for the suggestion!

[2020-12-10 21:23] #4 closed

[2020-12-10 22:24] davelens opened #6 "First-time-startup modal to point players to the location of the dashboard"
Pretty much what the title says. Not everyone reads Github, and I've noticed a few people be confused as to where the dashboard is located.

[2020-12-10 22:24] megahead11 opened #7 "Feature Request: Negative resource values"
At the moment, the party resource value can be no lower than 0. For specific things, like say a "Karma" system or faction reputation system, where you might want values to be negative (or any other applicable case), being able to reduce the value below 0 would be nice.
Ideally, 0 should only be a limit for resources without a maximum, but I could see this also working as a universal toggle for the

[2020-12-10 22:26] davelens opened #8 "Output to chat whenever a resource changes"
Just to notify players who aren't watching their dashboard. I can imagine you don't want this for every resource though, so it should be a setting to toggle in the resource's form.

[2020-12-10 22:31] davelens commented on #7
@megahead11 When I was initially working on this I was contemplating if I'd ever need negatives, but couldn't come up with a good example. Even though one of my games is now running with a fame level they could go in the red with, it didn't occur to me to put it in.

This shouldn't be a big change and it makes sense on all counts. I don't have a time frame, but I'll add it in the next release. Tha

[2020-12-10 23:01] fighterchimp commented on #2
hey, i'm not sure if i'm missing something, but i can't seem to give players the ability to edit a resource. the checkbox that gives the option is greyed out, and when i hit the box that says "configure player permissions" it brings me to the module settings window - but there's no section for party resources there that would allow me to give players the ability.

[2020-12-10 23:36] davelens commented on #2
In the settings window, click the `Open Permission Configuration` button at the top:
![pr-settings-1](https://user-images.githubusercontent.com/221527/101842595-b11bb800-3b48-11eb-8c05-810d53564205.jpg)

In the resulting window, check the checkbox below the `Player` column here:
![pr-settings-2](https://user-images.githubusercontent.com/221527/101842502-79ad0b80-3b48-11eb-9554-3dd4057589f0.jpg)

C

[2020-12-11 20:51] CaelReader opened #9 "More flexible increment/decrement"
It would be nice for things like a shared party treasury to beable to numerically change the resource on the fly, instead of needing to go in and alter the "default value" field for large changes. An easy approach might be to make the +/- buttons scalable ie, hold shift for increments of 10, ctrl for increments of 100, or something.

[2020-12-11 21:02] davelens commented on #9
@CaelReader Thank you for the suggestion. Using hotkeys for different orders of magnitude sounds like a good idea.

No timeline to get it done, but I can probably come up with something. The hardest part might be to give some sort of visual indication which increments are active. Maybe display the jump next to the cursor when the hotkey is pressed while hovering the +/- buttons.

[2020-12-12 22:04] #7 closed

[2020-12-12 22:17] davelens commented on #7
@megahead11 The 1.1.1 release is now live, which includes support for negative values (and an optional minimum). Thank you for the suggestion.

[2020-12-15 16:04] #9 closed

[2020-12-15 16:05] davelens commented on #9
@CaelReader This will be included in version 1.1.2. Thank you for the suggestion!

[2020-12-17 04:13] Col45 commented on #4
Thank you much appreciated! Works like a charm

[2020-12-18 14:35] #6 closed

[2021-02-26 01:34] brunocalado commented on #8
Yes! Please.

[2021-03-27 22:48] davelens opened #13 "Remove the initial popup for players. Only DMs should explicitly see it"
Provided by user JeansenVaars on the FoundryVTT Discord.

[2021-03-27 22:51] davelens opened #14 "Make it possible to optionally upload and load in images as resource labels"
Asked by a user on the FoundryVTT Discord whose name I sadly didn't jot down.

[2021-04-09 16:04] jdgcoop opened #15 "Compatibility Error on current production branch"
fvtt-party-resources is showing a compatibility error with the Foundry VTT 0.7.9 production release.  The module appears to still work.

[2021-04-14 17:15] ay-vee commented on #15
I have a similar issue, but module doesn't work at all. I've tried uninstalling and installing, but no luck.

[2021-04-15 23:30] davelens commented on #15
@jdgcoop That's because the `module.json` file mentions 0.7.8 as the most recent core-compatible version during development of the last update (4 months ago now), but it should work fine. I'm severely delayed with pretty much everything due to COVID-19, but finally have some time planned soon to hopefully get a new release out with a couple of new features.

@ay-vee I run the module in 0.7.9 witho

[2021-04-17 19:49] davelens commented on #15
@jdgcoop A new version was released just now, the compatibility error should be gone now.

@ay-vee Please create a new issue if you're still experiencing problems with the latest version (1.1.4).

[2021-04-17 19:49] #15 closed

[2021-04-17 19:50] davelens commented on #13
This made it in 1.1.4.

[2021-04-17 19:50] #13 closed

[2021-04-22 14:01] ay-vee commented on #15
@davelens it works now, thanks!

[2021-04-28 18:45] davelens commented on #8
This will be the main feature of the upcoming 1.1.5 release.

[2021-04-28 18:45] #8 closed

[2021-05-01 17:40] cnutenor opened #19 "Macro"
Hi, im try to create a macro to open party resources.

Like this
if (Party Resources.window.rendered)
  Party Resources.close();
else
  Party Resources.(true);

Can you help me?

[2021-05-02 20:04] davelens commented on #19
@cnutenor Ah, I already responded to you in Discord just now. I'll put my reply here just in case anyone stumbles upon this.

You can access the dashboard modal with `window.pr.dashboard`.

[code]

[2021-05-02 20:04] #19 closed

[2021-05-30 10:15] davelens opened #21 "Add a small status bar somewhere to provide a better overview of resource values."
Think resource bars at the top/bottom of the screen in games like Civilization or Age of Empires.

Should use both text and any assigned icon images, and should be togglable through Foundry's module settings.

[2021-05-30 10:19] davelens opened #22 "Add an optional input field to the resource form to add a unit of measurement to an input."
As an example: If you want to track apples, and you'd want the value to be measured in kilograms, you could add "kg" as unit of measurement and the dashboard would display "Apples: 10 kg".

[2021-06-05 05:35] davelens opened #23 "Make it possible to track some pre-existent resources like gold."
When adding a resource, add a "link existing resource" with a dropdown of choices to the resource form. The obvious first option would be "gold", which counts all gold across the party and displays a total as a resource. Not sure which other resources I could track yet (hitpoints current/max totals?).

Note that I can't make it that when you add a resource and you call it "gold", it'd set this tra

[2021-07-05 20:56] C-Norton opened #26 "Enhancement - Silent adjustment"
Allow GMs to adjust resources that have notifications enabled without sending a notification (say by adding a hotkey to hold by making it silent, or a second "silent" arrow), without having to disable notificatoins, make the change, reenable notifications.

Usecase: I have a magical item in my party that summons a number of ducks that can be used to grant advantage on ability checks in some circum

[2021-07-09 23:00] TheMathKing opened #27 "Players unable to manage resources."
I have enabled "Allow players to manage this resource." for all my resources but when players try to do so it says "User <name> lacks permission to update Setting[<some reference>]".

Any idea why this is the case?

I am running the latest version of the module and version 0.8.7 of foundry

[2021-07-12 21:06] davelens commented on #27
@TheMathKing I'll give it a look once I'm back from my holiday. Last time I checked this was in 0.8.6 and it seemed to be working fine, but I'll double check in 0.8.7.

[2021-07-25 01:35] TheMathKing commented on #27
I am now updated to 0.8.8 and it still does not let players or  trusted players manipulate the resources (I haven't tried co-dms)

[2021-07-25 01:37] TheMathKing commented on #21
This would be amazing. Let us pray to the coding gods.

[2021-07-30 11:51] davelens commented on #27
@TheMathKing I just tried this in a fresh Foundry 0.8.8 install (and assuming DND 5e), but it seems to be working as intended. I'm guessing the actor's data is corrupted in some way or another, or there's a conflict with another module.

Can you confirm the checkbox for "Player" is checked, like in the following screenshot?
![fvtt-8](https://user-images.githubusercontent.com/221527/127648820-27c6a

[2021-07-30 12:34] davelens commented on #26
@C-Norton Sorry for the late responsive, I've been on holiday until this week.

I'll consider adding this in at some point, but it's a low priority at this time. At some point in the future I'll have to redo some of the API stuff which would make adding this feature easier though, so I'll leave this issue parked until then.

[2021-07-30 12:38] davelens commented on #14
Added in with #17

[2021-07-30 12:38] #14 closed

[2021-07-30 17:30] TheMathKing commented on #27
Yup that was it. I was sure I enabled everything for my "trusted players", this must have been a new option that I didn't pick up on. Sorry to waste your time.

[2021-07-30 17:30] #27 closed

[2021-08-03 13:33] Ulvtand opened #29 "Player can..."
Players can add resources

[2021-08-03 13:55] davelens commented on #29
@Ulvtand I'm probably going to need some more information here, as I'm not sure what your statement implies. Here are a few quick answers depending on the intent of your comment:

* If your players can see the add/edit resource buttons on the dashboard, it would mean they have Gamemaster rights.
* If it's a question, then no, players currently cannot add resources themselves unless they are made G

[2021-08-04 12:25] davelens commented on #29
@Ulvtand I understand. The intent of the module was always to have a way for game/dungeon masters to keep track of simple numeric values, and for players to see them update in real time. The compromise I made there is to build in a way to allow players to manage resources. Having players create them freely would go beyond the scope of its current design, meaning I'd have to rewrite a sizable chunk

[2021-08-04 12:25] #29 closed

[2021-08-05 06:53] Ulvtand commented on #29
I understand, but this is the only standalone module of its kind (what I have been able to find). So I think it will be more popular if the players can also add. ;)

[2021-11-01 23:17] irbian commented on #21
In this line, it would be nice to have only the status bar, so the players don´t know how much exactly they have (for things as diffuse as "army strength")

[2022-01-11 14:25] brunocalado opened #30 "v9"
Hi.

Please remove the foundry vtt warning.

Replace "compatibleCoreVersion":"0.9.0" by "compatibleCoreVersion":"9".

Docs: https://gitlab.com/foundrynet/foundryvtt/-/issues/5635

[2022-01-15 19:51] davelens commented on #30
@brunocalado I had not yet tested v9 myself until I finally came around to it today. Originally, the plan was to push the v9 update along with a couple of features, but Covid made sure this wasn't meant to be. I can understand this version mismatch can be annoying, so the update to the compatible core version was pushed in the 1.2.5 tag.

Happy gaming!

[2022-01-15 19:51] #30 closed

[2022-01-15 22:42] brunocalado commented on #30
tks

[2022-02-16 02:32] TheMathKing opened #31 "Party Resources button does not appear under actors tab after updating to v9"
I have reinstalled the module and it still does not appear. It's fully installed too.

[2022-02-18 19:47] davelens commented on #31
@TheMathKing It sounds like there are other errors occuring that prevent the module from loading in general.

Could you check if there are any errors in the Javascript console? (F12 in Firefox/Chrome, or if you run Foundry as an app you can find it in the menu. It's called "Developer console" or something, I can't double check since I'm on mobile atm).

[2022-02-19 16:36] Krigsmaskine opened #32 "[Feature Request/Enhancement] Different notifications depending on whether the resource value is increased or decreased"
Hi,

In games where it's important to keep things lower (or higher) such as tracking madness or oxygen, it'd be great if there could be separate kinds of notifications for resources when decreasing vs. increasing, since one is often preferable to the other and the message adds a lot of gravitas to the change.

Regardless, thanks for the module, really useful for maddening tabletops!

[2022-02-19 19:52] davelens commented on #32
@Krigsmaskine Hi! Thanks for the feedback. This is something I agree with, and will probably end up adding this to the module when I get to fiddle with the notifications. As always I don't have an ETA, but I've marked it as an enhancement and it'll be in one of the next updates, after #33 gets merged.

[2022-02-20 08:42] TheMathKing commented on #31
I ended up reinstalling FoundryVTT and it ended up working. My issue now is
that the status bar will not show up at the top of the screen. When I click
"save changes" to enable it I get this error:

foundry.js:3856 TypeError: Cannot read properties of undefined (reading
'redraw')    at Setting._onUpdate (foundry.js:18103)    at
ClientDatabaseBackend.callback (foundry.js:10260)    at foundry.js:102

[2022-02-20 10:24] davelens commented on #31
@TheMathKing That's something that slipped into master when it shouldn't have yet. I just merged the status bar into master and made a new release, should be fixed now.

[2022-02-20 10:25] davelens commented on #21
Closing this, as the first version of this got merged. For specific feature requests, please create a new issue.

[2022-02-20 10:25] #21 closed

[2022-02-23 15:30] davelens commented on #31
@TheMathKing I'm assuming this one got resolved, based on the error message above. If not, do comment back and I'll reopen.

[2022-02-23 15:30] #31 closed

[2022-02-26 02:47] Pantong51 commented on #23
I'd also know to know how to do this for things like rations

[2022-03-01 08:59] davelens commented on #23
@Pantong51 Gold and rations will be the first two resources that get shipped with this feature, once I get to work on it. This is also dependent on how Foundry registers those item types.

[2022-03-06 20:48] Orionox opened #34 "editing and saving toggles player visibility"
if I have a resource set to not be visible to the players, but I edit that resource it toggles visibility and the players can now see it.

[2022-03-07 14:06] davelens commented on #34
@Orionox Thanks for reporting this, can confirm this to be the case. Will look into it.

[2022-03-20 20:40] sladecraven opened #35 "Add French translation"
Hi !
fr.json file provided here,

Thanks !
`
{
  "FvttPartyResources.Dashboard.AddButtonTitle": "Augmenter la quantité",
  "FvttPartyResources.Dashboard.BlankWarning": "Les blocs de ressources apparaitront uniquement une fois ajoutés.",
  "FvttPartyResources.Dashboard.DeleteButtonTitle": "Supprimer la ressource",
  "FvttPartyResources.Dashboard.EditButtonTitle": "Editer la ressource",
  "FvttParty

[2022-03-21 15:37] sladecraven opened #36 "Feature : dynamic display of the ressources status bar (with a macro function)"
Allow the option to dynamically show()/hide() the status bar for all players/GM at the same time.
Useful when you want to show party resources only during particular scenes/sequences.

[2022-03-23 14:54] sladecraven opened #37 "Customizable tooltip"
The idea is to display a tooltip (containing a specific text entered by the GM) when a player puts the mouse over a ressource in the status bar.
This (optionnal) text can be configured thru the ressource editor dialog.

[2022-03-24 13:37] davelens commented on #35
@sladecraven Thank you for the translation file, it's included in today's release (1.2.8).

[2022-03-24 13:37] #35 closed

[2022-03-24 13:37] davelens commented on #34
@Orionox This got resolved, and the fix is included in today's release (1.2.8).

[2022-03-24 13:37] #34 closed

[2022-04-17 18:53] sladecraven commented on #37
Hi !
Do you plan to do something on this ?

[2022-04-17 18:53] sladecraven commented on #36
Hi !
Do you plan to do something on this ?

[2022-04-18 18:06] brunocalado opened #38 "[Improve UI]"
Hi.

The buttons +/- are very confusing. Can you improve the UI?

Suggestions

- Add a separator or border for each resource.
- Move the +/- to a better position. Side by side

![image](https://user-images.githubusercontent.com/4999783/163852828-e4d88330-9507-4ca3-9349-2de2ce0fdc49.png)

[2022-04-19 17:35] g1eagle opened #39 "This is not a registered game setting"
foundry.js:135 Uncaught (in promise) Error: This is not a registered game setting
[Detected 1 package: fvtt-party-resources]
    at ClientSettings.get (foundry.js:135:182)
    at ResourcesApi.get (resources_api.mjs:37:26)
    at eval (eval at _executeScript (foundry.js:1145:20), <anonymous>:4:21)
    at Macro.eval (eval at _executeScript (foundry.js:1145:20), <anonymous>:5:7)
    at Macro._execute

[2022-04-19 17:36] g1eagle commented on #39
Get this error when attempting to use the api.

[2022-04-20 14:45] davelens commented on #38
@brunocalado Seems like the CSS isn't loading for you, as this is how it's supposed to look like:

![154817180-5dcb0c95-845f-4ef3-a8e8-9b734b2feda7](https://user-images.githubusercontent.com/221527/164256320-252dcc28-1eec-4f82-b6c2-6ae33074c927.jpeg)

I can't deduce why the CSS isn't loading for you, but typically the developer tools of the browser should give some clues (blocking resources, JS er

[2022-04-20 14:53] davelens commented on #39
@g1eagle Typically you get the `This is not a registered game setting` error when you're trying to save values to non-existent identifiers. Can you give me the exact commands you're using along with the resource ID you're trying to set/get with the API? You can grab the resource ID in the "Edit resource" form:

<img width="603" alt="pr-43" src="https://user-images.githubusercontent.com/221527/1642

[2022-04-20 14:58] brunocalado commented on #38
Active Modules:
----------
Alternative Pause Icon v;
Brazilian Portuguese [SWADE] v;
Chat Images v;
CodeMirror vfvtt4;
Compendium Folders v;
Custom Css v;
DFreds Droppables v;
Dice So Nice! v;
Dice Tray v;
Dungeon Draw v;
Image Hover v;
Journal to Canvas Slideshow - Display Journal Art on the Canvas v;
Kandashi's Fluid Canvas v;
lib - Color Settings v;
libWrapper v0;
Macros for SWADE v;
Minimal UI

[2022-04-20 15:03] davelens commented on #36
@sladecraven This can be done through a script macro and the little API that comes with Party Resources. Here are the commands to hide/show the status bar:

Hiding:
[code]

Showing:
[code]

[2022-04-20 15:22] sladecraven commented on #36
Yes, but as far as I know, it does not cascade the hide information to other players.
My idea is to have a controlled view by the GM only, to display/hide when he decides to.

[2022-04-20 15:39] davelens commented on #36
@sladecraven That would be incorrect, the API commands do cascade their values through to everyone connected to the foundry instance. All settings Party Resources creates are Foundry world settings, meaning their values automatically persist to everyone in real time.

It's "one size fits all though", so no separate toggles for players or gms.

[2022-04-20 15:46] sladecraven commented on #36
Ok, thanks, I will test again; because last time I did, the status bar was not hidden on player side, only GM side.

[2022-04-20 16:17] brunocalado commented on #38
![image](https://user-images.githubusercontent.com/4999783/164276645-0d1dbe78-7f8c-4863-87af-0b1e1d50ec5b.png)

[2022-04-20 19:02] sladecraven commented on #36
OK, tested, it works!

[2022-04-20 19:02] #36 closed

[2022-04-20 23:53] davelens commented on #38
@brunocalado Are there perhaps any errors present in the Console tab of the dev tools?

[2022-05-01 22:20] irbian opened #40 "[Feature request] Aproximation bar"
Hi!

We sometimes have resources where we want to show an approximate idea of the resource, but not exact numbers, like a loading bar, the life of the final boss, how much is filled the holy water container... Could be done?

[2022-05-10 11:48] V3rotti opened #41 "[Feature Request] Option to change the Amount that is added or decreased to a resource with one Klick"
An option to let you incrase or decrease the resource by n with one Klick at "+" or "-".

[2022-05-10 19:03] davelens commented on #41
@V3rotti I'm not sure if this is the same as what you mean, but the readme says you can currently do this as you click on the + or - buttons:

[2022-05-10 19:06] davelens commented on #40
@irbian Interesting. I suppose it'd be technically possible to show a small green bar in both the status bar and the dashboard, based on how far along a value is in regards to its maximum.

I'll park it as an enhancement for a later update for now.

[2022-05-10 19:16] davelens commented on #38
@brunocalado Bump. Have you seen my previous question / did you get this resolved / can I close this? :)

[2022-05-10 19:17] davelens commented on #37
@sladecraven Sorry this took a while to reply to. I know I've seen built in tooltips in Foundry at some point or another. If that's the case, I'll use those to add this functionality in in a later update.

[2022-05-10 19:18] davelens commented on #39
@g1eagle Bump. Have you seen my previous question / did you get this resolved / can I close this? :)

[2022-05-10 19:50] brunocalado commented on #38
I'll check It out next week.

Em ter, 10 de mai de 2022 16:16, Dave Lens ***@***.***>
escreveu:

[2022-05-11 02:05] g1eagle commented on #39
let v = window.pr.api.get('shipfuel')
window.pr.api.set('shipfuel', 50)

Where the commands I was trying to use. They didn't work at first, but once I relaunched the world I guess it saved them down and recognizes the values now.

[2022-05-11 06:45] V3rotti commented on #41
uh yeah, i didn't know that! For me that fits my needs perfectly.

[2022-05-11 12:03] davelens commented on #41
@V3rotti Great! 🙂 Closing this

[2022-05-11 12:03] #41 closed

[2022-05-11 12:17] davelens commented on #39
@g1eagle Hmm, alright. The "normal" behaviour should be that, once saved, it Just Works™️. But good to hear it got resolved. Closing

[2022-05-11 12:17] #39 closed

[2022-05-13 11:07] brunocalado commented on #38
GM View - Google Chrome
![image](https://user-images.githubusercontent.com/4999783/168270936-db447ebb-3e7b-4c02-82dc-81655436bcac.png)

Player View - Ungoogled
![image](https://user-images.githubusercontent.com/4999783/168271020-ea08d2e2-63ae-4d7e-8df1-2d2247186a17.png)

[2022-05-19 10:25] megahead11 opened #42 "[Feature Request] Resource Widgets"
Probably more of a power user type of thing, and probably related to #40 . I think it would be nice to have widgets that can be popped out from the party resource list, so you can show that singular resource as a bar/gauge or something (with the option to move and hide it), as opposed to showing all resources at once with the status bar.

Double points if you can replicate BarBrawl's function to u

[2022-05-19 12:48] davelens commented on #42
Huh. 🤔

I'm not familiar with Bar Brawl, but I could check out if I can leverage it somehow for Party Resources, with regards to #40.

[2022-05-20 01:27] megahead11 commented on #42
Bar brawl is for token bars (for hp and more), but it's super flexible.
They recently added "advanced settings" which allowed the picture based gauges, like this
![image](https://user-images.githubusercontent.com/21242682/169430400-d1264c81-5c05-412f-bf75-2d789c7de87a.png)

[2022-05-20 12:27] davelens commented on #42
My only worry with this is that it might be (a lot) easier to write an accommodation for Party Resources in Bar Brawl, than it would be the other way around.

I have a couple of other feature requests I need to spend some time on first, but after that I'll give this a closer look.

[2022-05-20 12:33] megahead11 commented on #42
It would be a bit different to make it something that goes alongside bar brawl as that would just be another token resource bar, as opposed to a resource widget :P

[2022-05-21 13:56] Craftzero opened #43 "Escape closes Party Resources Window"
There are times in the thick of battle, when I need to hit Escape to clear out various targets I have or for other reasons.  Unfortunately, this also closes the Party Resources window.  Is there any way we can have it not close the window?

[2022-05-23 11:10] davelens commented on #43
The PR dashboard window is a bog standard Foundry `Application` window, which means any events linked to it (like closing it through pressing ESC) are Foundry's default.

I'll have to ask around on the Discord to see if it's possible to override said events without destroying the default behaviour for other `Application` windows. When I know more, I'll post it here.

[2022-06-03 01:00] Ksen01 opened #44 "Chat message doesn't appear"
Hello,
I have an issue with chat message option. When i check this button my comment never appear with with message about value change. Am I doing something wrong or is it just not working at the moment?

[2022-06-03 01:05] Ksen01 commented on #44
![1](https://user-images.githubusercontent.com/42182727/171767347-0ab9f08b-b44f-4a07-b350-0570f13236d3.png)
![2](https://user-images.githubusercontent.com/42182727/171767351-e52ffb31-20fa-4c13-86ce-4f734d4b5b17.png)

[2022-06-15 13:14] davelens commented on #44
@Ksen01 Hi, sorry for the delay in getting back to you. I can confirm this to be a bug in the module, though I don't know what's causing it yet. Will be fixed in the next release.

[2022-06-21 07:52] Zamino opened #45 "Can't give Players permission"
Hi, in the settings of this module I gave the players the permission to change the resources. Unfortunately this doesn't work. They can't change anything. Do you have any idea what I can do?

[2022-06-21 07:55] Zamino opened #46 "Macro for increasing an decreasing"
Hi there,
could you please make a macro code available for increasing and decreasing resources. Maybe something like

To add 1 value: window.pr.api.add('resourceA', 1, { notify: true })

[2022-06-21 09:19] davelens commented on #46
@Zamino This already exists, but I didn't include these in the FAQ (until now):

[2022-06-21 09:19] #46 closed

[2022-06-21 09:25] davelens commented on #45
@Zamino Just verified, it still works fine in fresh version 9 installations. Please verify the settings [in this reply of mine](https://github.com/davelens/fvtt-party-resources/issues/27#issuecomment-889840656) to a report someone made last year. Does that help you along?

[2022-06-21 11:31] Zamino commented on #45
Awesome! You were so right. I missed to give them "modify configuration settings". Thanks a lot.

[2022-06-21 11:40] Zamino commented on #46
great! Thank you

[2022-08-07 12:27] davelens commented on #44
@Ksen01 Hi, I wanted to update you after a long bout of nothing (life, basically). I have time planned to get this fixed this week. Expect a release the coming weekend.

Thanks again for taking the time to report it!

[2022-08-07 19:31] Ksen01 commented on #44
Thanks for you work!

[2022-08-15 00:43] davelens commented on #44
@Ksen01 This is now fixed in 1.2.9. Happy DM'ing!

[2022-08-15 00:43] #44 closed

[2022-09-06 09:34] kagedansa opened #47 "Settings do not open"
With the module activated i can not open settings anymore.

![error](https://user-images.githubusercontent.com/110729103/188600597-244485d1-fec7-4ab5-abb8-ba95693584e4.png)

[2022-09-06 12:19] davelens commented on #47
@kagedansa It's an issue with the Settings Extender module, which Party Resources requires to function properly. You can read up on it [here](https://gitlab.com/foundry-azzurite/settings-extender/-/issues/10). According to its dev, it should be fixed either later today, or tomorrow.

[2022-09-06 21:48] davelens commented on #47
@kagedansa Azurrite released the v10 update for Settings Extender around 5 hours ago. Update that module and the menu should be accessible again.

[2022-09-06 21:48] #47 closed

[2022-09-07 20:19] XxSTOZZYxX opened #48 "Console error v1.3.0a"
Foundry v10
Console error (see below)

[code]

[2022-09-13 13:22] davelens commented on #48
@XxSTOZZYxX I can't seem to reproduce this, though I'm familiar with the error. Foundry triggers this when data is requested through their `game.settings` object (which Party Resources does) with a key it can't match against any data. Seems to suggest that you tried to create a resource, and something happened along the way, but I can't be sure.

Do you recall what you were trying to do when you n

[2022-09-13 17:41] XxSTOZZYxX commented on #48
@davelens i don't recall specifically, no, but after flip flopping to v9 back to v10 i'm no longer able to reproduce so i'd say it's safe to disregard. if it pops again i'll keep ya posted but seems it might have been with the install itself.

[2022-09-15 09:45] zoranac commented on #48
I am having a very similar looking issue. It occurs when pressing the Party Resources button (nothing else happens for me). I have tried uninstalling and reinstalling the module but it still occurs. I have upgraded from v9 to v10 but never used the module while on v9.

![image](https://user-images.githubusercontent.com/5622164/190371880-5f60649d-ee58-44f4-832e-cef9a8b764c6.png)

[2022-09-15 10:08] davelens commented on #48
@zoranac Hrm. I'm thinking it depends what kind of values are stored in `game.settings`. whether you get validation errors or not. v10 came with `DataModel` changes that I *think* could cause this (the error seems to suggest it). 😕

I'll have to do some digging around. Problem is I'll only be able to look at it coming sunday at the earliest.

[2022-09-15 18:27] iotech-fvtt commented on #48
@davelens FWIW, I am getting exactly the same error as @zoranac when pressing the party resources button. Thanks for taking a look!

[2022-09-15 19:12] davelens commented on #48
@zoranac @XxSTOZZYxX @iotech-fvtt So I was able to take a quick look and made some adjustments. I *think* this is fixed in the 1.3.1 release I just made. Foundry 10 now requires a proper default value for all settings, which the module lacked (because things were less strict before). If you could check and verify, that'd be great.

If your dashboard opens it might show `RENAME ME` as a resource's

[2022-09-15 20:41] iotech-fvtt commented on #48
@davelens works! Thank you so much! Now my players have to manage water on their trek across Chult in ToA. Muahahaha

I apologize if I came off as demanding a fix NOW, that was not my intention. I'm a mod author too, so I get how it can be. Thanks again!

[2022-09-15 21:23] davelens commented on #48
No worries, I appreciate people reporting this. Sounds like your players could use an alchemy jug!

I'll keep this issue open for a few days longer.

[2022-09-15 23:18] zoranac commented on #48
@davelens This has fixed it for me as well, thanks!

[2022-09-16 11:07] dreadnought191765 opened #50 "[Feature Request] Moveable resources and hidable resources"
Heya, love the mod!

Just requesting the ability to move resources up and down the list of all resources (as in my session I run, it is a kingdom building one with many different resources, and I like to keep resources together, so all food types together, followed by basic building materials then complex ones, if I create a new food type I would like to be able to drag it next to the other food t

[2022-09-16 20:17] davelens commented on #38
@brunocalado Sorry for taking this long, 😞 I'm in the process of reviewing the current issue list, now that Foundry v10 was released. I still can't reproduce this in Google Chrome, and no other similar reports seem to have come in :-/ My guess is still there is (was) another mod in conflict with the styles of Party Resources. If you still have this issue with all other mods disabled, it might be a

[2022-09-16 20:48] davelens commented on #50
Hi @dreadnought191765 - This is something I agree with to be missing in the current feature set. I'll have a look to see how I could get this done.

If you donated earlier today, then thank you for your generosity! It's very much appreciated.

As for a Patreon: If I'm honest, I'm not sure how I'd feel about monthly donations. As you can see in the commit history my work on the module sometimes has

[2022-09-17 10:38] dreadnought191765 commented on #50
Hopefully it won't be difficult to set up.

Yup, that was me who sent £10 te ye :D

I wouldn't feel guilty about monthly donations, I am the dev for the Starcraft 2 Peacekeeper campaign and it took 7-8 months for me to release mission 5, and during that time I had two Patreons. Just as long as you tell peeps that you do this as a side task/hobby and that it may take large portions of time between

[2022-09-18 23:59] davelens commented on #32
@Krigsmaskine This feature was added and will be released in 1.3.2 (ETA unknown, but somewhere within the next two weeks, more than likely).

[2022-09-25 13:10] davelens commented on #50
@dreadnought191765 The release I just made allows you to reposition resources using drag/drop in the dashboard.

Separate display toggles for the status bar / dashboard are not yet in there. I'm thinking about reworking the resource form to be wider, I'll add in those toggles when that time comes.

[2022-09-25 13:11] davelens commented on #32
@Krigsmaskine The feature you requested was added in in the latest release. It's a major release instead, 1.4.1. Happy DM'ing!

[2022-09-25 13:11] #32 closed

[2022-09-25 13:12] davelens commented on #48
Alright, looks like no one's receiving this issue anymore. Thanks for the reports! Closing issue.

[2022-09-25 13:12] #48 closed

[2022-09-25 13:15] davelens commented on #38
Closing this issue due to staleness. If it still persists in v10, please disable all modules except Party Resources and see if that works. If it does, re-enable the other modules one by one to see where the conflict lies.

[2022-09-25 13:15] #38 closed

[2022-09-25 13:20] davelens commented on #22
I'll be closing this for now, it's just easier to add the unit to the resource's label, and there's other features that would have more impact.

[2022-09-25 13:20] #22 closed

[2022-09-25 13:22] davelens commented on #40
@irbian I'll be closing this in favour of #42, as that will provide the functionality you requested.

[2022-09-25 13:22] #40 closed

[2022-09-25 13:25] davelens commented on #43
As a little update: Currently asking around on the Discord again, as I didn't get much reaction last time. Foundry 10 just released as well, so I'll be giving it a look if something changed in regards to events on existing `Application` windows. Last time I tried to force this, I accidentally disabled the ESC for all windows and couldn't seem to get it right to work just for PR's window.

[2022-09-25 16:55] davelens commented on #43
@Craftzero One of the community members informed me about this:

Which basicly means that yes, I can cancel the closing of the window, but I have no other means of closing the window beyond that. So I can't both cancel "pressing ESC" and keep "manually clicking the close button". You'd end up with a perpetually open dashboard.

I'll close this until further notice (i.e. we can exert more control o

[2022-09-25 16:55] #43 closed

[2022-09-25 19:06] davelens commented on #23
So what's important to remember about this is that Party Resources is (unintentionally, but here we are) system agnostic, and "currency" as a concept is not present in every game system.

dnd5e happens to have currency, and I will start out supporting that. Any other gaming system (sw-ffg, warhammer,...) will have to be reviewed to see if I can grab changes through `updateActor` as well.

[2022-09-25 19:56] davelens commented on #23
You can track the status for this feature in #52.

[2022-10-05 19:54] eunaumtenhoid opened #53 "foundry hud weblate"
hi, is it possible to add your mods to foundry hud weblate for us to translate or update the translation faster? https://weblate.foundryvtt-hub.com/

[2022-10-05 23:09] davelens commented on #53
@eunaumtenhoid Hi, I've actually already sent a request to add the module, but haven't heard back from them yet. Currently awaiting response and I'll see what needs to be done to make it work.

[2022-10-08 00:27] eunaumtenhoid commented on #53
tks!

[2022-10-09 11:57] davelens commented on #53
I received a notification that they set up stuff on their end, with instructions for me to link my repo. It's a webhook I need to configure essentially, will happen somewhere in the next week +/-.

[2022-10-09 21:46] davelens commented on #53
@eunaumtenhoid Weblate is now configured, and you'll find the project's page [here](https://weblate.foundryvtt-hub.com/engage/party-resources/). I added a dutch translation by means of testing it out, seems to work just fine!

[2022-10-09 21:46] #53 closed

[2022-11-11 19:30] davelens commented on #23
PR #52 is now functional. It will allow you to add both D&D 5e gold and rations as trackable resources, providing you with a sum of all values across all player characters. I'll be merging this tomorrow evening, after I've been able to do some more testing.

[2022-11-12 21:19] davelens commented on #23
So the good news is this PR is almost done *and* I've found a way to not be limited to just gold and rations. As it stands, any item will be able to be tracked by its name. So this means rations, potions of healing, arrows,... will all be possible to track across the player characters' inventories.

The bad news is, I can't merge today yet. There's two particular problems I need to solve before I'

[2022-11-18 08:06] jagoe opened #56 "[Feature Request] Open resource window by clicking/double-clicking on the resource"
## Problem

Whenever I want to edit a resource, I have to navigate to the actors tab first. Depending on the frequency, this might get annoying.
Leaving the window open is not option due to limited screen real estate.

## Proposed Solution

Clicking (or double-clicking) on the resource bar opens the "Party Resources" window.

### Alternatives

1. Editing the resource directly using the mouse wheel

[2022-11-19 12:25] davelens commented on #56
@jagoe In the back of my mind, I think I settled on implementing CTRL+clicking a resource to open the resource's edit form somewhere down the line, but starting out with opening the dashboard when clicking the resource bar itself makes sense to me. 👍

[2022-11-21 13:34] #56 closed

[2022-11-21 14:05] davelens commented on #56
@jagoe Merged and released into 1.4.3a. Thanks again, also for the cleanup involving the sass build script. I'm not a frontend dev, so I learned something there.

I made two changes in addition to yours:

* I added `event.metaKey` as an alternative to `event.ctrlKey` for people running the software on a mac. The latter doesn't seem to allow click events to fire when `ctrl` was pressed. I'm guessin

[2022-11-21 14:24] jagoe commented on #56
Whoops! Both of those make a lot of sense, haha.
I always forget about Macs (neither me, nor my usual players use one). And I got no excuse for the GM-check - good thing you caught that!

Thanks for the quick review, merge, and release :smiley:

[2022-11-21 14:35] jagoe commented on #56
@davelens, just noticed: Foundry doesn't support versions like `1.4.3a`, causing it not to be recognized as the latest version (more details [here](https://foundryvtt.com/article/intro-development/#versioning)).

![image](https://user-images.githubusercontent.com/2989750/203081274-dbb483a6-8d31-407d-8274-63d4b16f2c39.png)

As per [SemVer](https://semver.org) it would have made sense to make the ne

[2022-11-21 19:43] davelens commented on #56
@jagoe Oops, I didn't know that! It's how we do patch releases at work so I didn't really think about it. My self-hosted Foundry seemed to update the version just fine, but not having it as latest isn't good. 1.4.4 is out now to remedy it.

Thanks again for the heads-up!

[2022-11-22 20:55] davelens commented on #23
This got merged and released in 1.5.0. You can now track dnd5e's gold and any dnd5e item(s) by name (even multiple items into one tracker). @Pantong51 I know it's been a while, but this includes the rations you mentioned.

I'm willing to look into other systems if there's interest in them.

[2022-11-22 20:55] #23 closed

[2022-11-22 21:03] davelens commented on #50
I'll be working on the separate display toggle for the status bar and the dashboard next. Should be able to get this done in the coming week.

[2022-11-23 11:18] gsterling opened #58 "[Feature Request] Show resources only to some players not all"
I'd like to keep track of some ressources which are only important for me and some of my players, but not all of them. I don't want the others to see them at all times and clutter their window.

Could you add a permission based filter, instead of the binary "Hide/Reveal", similar to the default foundry permissions for actors, items, journals, ...?

The module [Award XP](https://github.com/manuelVo

[2022-11-23 15:23] dreadnought191765 commented on #50
:D

[2022-11-25 00:51] davelens commented on #58
@gsterling From the FAQ in the readme:

That said however, I'd be willing to take a look into it if I can lift it from Award XP. If I can plug it in in an easy way, it might be worth reviewing the idea of player-based permissions.

[2022-11-25 19:16] vdoesui opened #60 "[Feature Request] Categories"
I'd like to be able to split items into different categories. I have tried doing so by making an item that works as a title (just a really wide image with text), however drag and dropping does not work as you would expect.

In my case I was trying to use this to know who was carrying what, but I think this feature would come in handy on some other context, perhaps when managing resources on differ

[2022-11-28 12:31] davelens commented on #60
I'm not opposed to the idea of a group or category heading, but in its current form it'll require a fair amount of fiddling with the CSS so it doesn't break the current default. I'm also unsure how I'd have to visualise this in the status bar.

If I find a good way to do it, I'll do it. But there's a couple of other features that require attention first.

That makes sense to me, but I'll create a

[2022-11-28 12:33] davelens opened #61 "[Feature request] An option to have both text and image show up in the dashboard."

[2022-11-28 17:31] RudeCanine opened #62 "Option to remove the long black semi transparent background?"
Hi! Would love it if there was an option to remove the background border for the text + icons. The same background that runs along the bottom and top of the screen that is.
![image](https://user-images.githubusercontent.com/110479085/204342985-0efcc538-941d-48a4-bd9a-5e7e5e811569.png)